<div class="clearfix"></div>
        <!-- Footer -->
        <footer class="site-footer">
            <div class="footer-inner bg-white">
                <div class="row">
                    <div class="col-sm-6">
                        Copyright &copy; {{footer.year}} {{footer.extra_name}}
                    </div>
                    <div class="col-sm-6 text-right">
                        Designed by <a href="{{footer.url}}">{{footer.name}}</a>
                    </div>
                </div>
            </div>
        </footer>